.page-layout {
  height: 100vh;
  overflow: hidden;
}

.conversations-layout {
  height: 100% !important;
  overflow: hidden;
  border-right: 1px solid var(--p-secondary-color);
}

.conversations-scroll {
  height: 100%;
  overflow-y: auto;
}

.new-conversation-layout {
  margin: var(--container-margin);
  ::ng-deep .p-button {
    width: 100%;
  }
}

.chat-layout {
  position: relative;
  height: 100% !important;
  overflow: hidden;
}

.chat-scroll {
  height: 100%;
  overflow-y: auto;
  padding: 16px;
  padding-bottom: 96px;
}

.history-conversation {
  img {
    height: 100px;
    width: 100px;
  }
}

.current-message {
  img {
    height: 100px;
    width: 100px;
  }
}

.chat-input-container {
  position: fixed;
  right: 10px;
  width: calc(82%);
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;

  backdrop-filter: blur(2px);
  border-top: 1px solid rgba(0,0,0,0.1);

  transition: bottom 0.6s ease-in-out;

  input {
    width: 70%;
  }
}

.chat-input-container-center {
  bottom: 50%;
  transform: translateY(50%);
}

.chat-input-container-bottom {
  bottom: 0;
  transform: translateY(0);
}

.conversation-container {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: var(--normal-border-radius);
  height: 35px;
  display: flex;
  align-content: baseline;
  text-align: center;
  justify-content: space-between;
  margin: var(--container-margin);
  span {
    margin: 5px;
  }

  ::ng-deep .p-button {
    margin: 3px 4px;
    background: var(--p-primary-danger-color);
    color: var(--p-primary-icon-color);
    height: 28px;
    width: 28px;
  }
}

.selected-conversation {
  background: var(--p-secondary-color);
  border-color: var(--p-secondary-color);
}

.content-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--p-primary-color);
  padding: 12px;
  border-radius: var(--normal-border-radius);
  margin: var(--container-margin);
}

.user-message-container {
  justify-content: end;
  text-align: right;
}

.agent-message-container {
  justify-content: start;
  text-align: left;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
